body{
    margin: 0; /*margenes*/
    font-family: 'Poppins', sans-serif;/*tipografia*/
}

header .contenedor {
    display: flex; /*ordenar los elementos a izquierda*/
    justify-content: space-around; /*espacios entre elementos*/
}

header ul{
    display: flex;
}

header ul li {
    list-style: none; /*eliminamos estilos de lista*/
    margin-right: 15px; 
}
a {
    text-decoration: none; /*quitamos subrayado */
}
.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
header {
    background: linear-gradient(rgba(84,93,220,.9), rgba(96,171,245,.9)), url(/imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
}
#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
    max-width: 1580px;
    width: 100%;
}
h1{
    font-size: 60px;
    color: #ffffff;
    margin: 0;
}
h2{
    font-size: 25px;
    color: aliceblue;
       
}
.contenedor-titulo {
    text-align: center;
}
.contenedor-titulo a, #sobre-mi a{
    font-size: 14px;
    color: #ffffff;
    background: #5cb8ff;
    padding: 14px 24px;
    display: inline-block;
}

p.logo {
    color: #ffffff;
    font-size: 20px;
}
nav ul li a {
    color: #ffffff;
}
/*SECCION DE SOBRE MI*/

 h3 {
    text-align: center; /*nos permite centrar el texto*/
    font-size: 50px;    /*tamaño letra*/
    font-weight: normal;
}

#sobre-mi .contenedor-sobremi{
    display: flex ;
    justify-content: space-around;
}
#sobre-mi .texto{
    width: 42%;
    
}
/*SECCION SERVICIOS*/
.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;/*si detecta que el contenido esta ocupando mucho lugar que pase a la siguiente linea*/

}
.servicio {
    width: 30%;
    padding: 34px 30px 38px 30px;
}
.servicio h4 {
    font-size: 30px;
    margin: 0;
}
.servicio p {
    margin-bottom: 20px;
    height: 194px;/*le indicamos que cada parrafo sea del mismo tamaño*/
}
.contenedor-servicios .violeta {
background: 
linear-gradient(to top, #5055DF,
#6d68f3);/*to top nos indica que el gradiente vaya de abajo hacia arriba*/
box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .37);/*sombra de la caja */    
}
.contenedor-servicios .celeste {
background: 
linear-gradient(to top, #40a8f9,
#5cb8ff);
box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);    
}



